/* line 6, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/guide.css.scss */
#guide {
  background: #fff !important;
  /* ================================
     Guide Jump Navigation
     ================================ */
  /* ================================
     Side Navigation
     ================================ */
}
/* line 2, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide * {
  box-sizing: border-box;
}
/* line 6, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide html.guide-font, #guide html.guide-section-title, #guide html.guide-page-title, #guide html.guide-type-reset, #guide body.guide-font, #guide body.guide-section-title, #guide body.guide-page-title, #guide body.guide-type-reset {
  font-size: 10px;
  line-height: 1.5;
}
/* line 14, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide body {
  min-height: 100vh;
  color: #484848;
  background: #fff !important;
}
/* line 20, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide .guide-font {
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}
/* line 24, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide .guide-section-title {
  font-family: "Roboto Mono", monospace;
}
/* line 27, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide .guide-example-code {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  line-height: 1.125;
  margin-top: 30px;
  margin-bottom: 15px;
}
/* line 34, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide .guide-page-title {
  margin-top: 0;
  font-weight: normal;
}
/* line 40, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide h1.guide-font, #guide h1.guide-section-title, #guide h1.guide-page-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}
/* line 48, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide h2.guide-font, #guide h2.guide-section-title, #guide h2.guide-page-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
/* line 56, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide h3.guide-font, #guide h3.guide-section-title, #guide h3.guide-page-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
/* line 62, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide h3.guide-section-title {
  margin-top: 2rem;
}
/* line 67, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide h4.guide-font, #guide h4.guide-section-title, #guide h4.guide-page-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
/* line 73, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide h4.guide-section-title {
  margin-top: 3rem;
  width: 100%;
  float: left;
}
/* line 80, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide h5.guide-font, #guide h5.guide-section-title, #guide h5.guide-page-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
/* line 88, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide h6.guide-font, #guide h6.guide-section-title, #guide h6.guide-page-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
/* line 96, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide p.guide-font, #guide p.guide-section-title, #guide p.guide-page-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
/* line 104, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide a.guide-font, #guide a.guide-section-title, #guide a.guide-page-title {
  font-size: 1rem;
  color: #484848;
}
/* line 109, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide a.guide-font:visited, #guide a.guide-section-title:visited, #guide a.guide-page-title:visited {
  color: #484848;
}
/* line 117, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide .styleguide section.guide-section {
  margin-bottom: 2rem;
  border-bottom: 1px dotted #ccebf3;
}
/* line 25, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/02-base/neat/neat/mixins/_grid-container.scss */
#guide .styleguide section.guide-section::after {
  clear: both;
  content: "";
  display: block;
}
/* line 125, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide .guide-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  overflow-y: auto;
}
/* line 130, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide #guide-container, #guide .guide-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 0;
  padding: 1em;
  height: calc(100vh - 60px);
}
/* line 138, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide #guide-body {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}
@media (min-width: 760px) {
  /* line 138, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
  #guide #guide-body {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px;
  }
}
/* line 145, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide #guide-nav {
  width: 100%;
  position: absolute;
  top: 60px;
  left: -100%;
  background: #ccebf3;
  height: 100%;
  -webkit-transition: left 300ms ease;
          transition: left 300ms ease;
  z-index: 90;
  text-align: center;
}
/* line 155, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide #guide-nav.open {
  left: 0;
}
@media (min-width: 760px) {
  /* line 145, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
  #guide #guide-nav {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px;
    position: relative;
    top: auto;
    left: auto;
    text-align: left;
    background: #fff;
  }
}
/* line 171, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide .guide-half-row {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
  margin-bottom: 30px;
}
/* line 176, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide .guide-half-small {
  border: 0 !important;
  padding: 0 !important;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}
@media (min-width: 760px) {
  /* line 176, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
  #guide .guide-half-small {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 176, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
  #guide .guide-half-small {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px;
  }
}
/* line 188, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
#guide .guide-half-large {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}
@media (min-width: 760px) {
  /* line 188, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
  #guide .guide-half-large {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 188, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_base.scss */
  #guide .guide-half-large {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
  }
}
/* line 2, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header {
  background: #ccebf3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  z-index: 100;
}
/* line 11, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .header-inner {
  max-width: 1300px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 18, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .guide-logo {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}
/* line 23, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .guide-logo .icon {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
/* line 30, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .guide-logo .project-title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5rem;
  line-height: 1.125;
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
}
/* line 39, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .guide-logo a, #guide header#guide-header .guide-logo a:visited {
  color: #484848;
  -webkit-transition: all 250ms ease;
          transition: all 250ms ease;
}
/* line 42, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .guide-logo a:hover, #guide header#guide-header .guide-logo a:focus, #guide header#guide-header .guide-logo a:active, #guide header#guide-header .guide-logo a:visited:hover, #guide header#guide-header .guide-logo a:visited:focus, #guide header#guide-header .guide-logo a:visited:active {
  background: #f2f2f2;
  color: #52bad5;
  border-radius: 5px;
}
/* line 50, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .guide-side-trigger {
  position: absolute;
  padding: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  cursor: pointer;
}
@media (min-width: 760px) {
  /* line 50, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
  #guide header#guide-header .guide-side-trigger {
    display: none;
  }
}
/* line 61, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .guide-side-trigger .trigger .zmdi-menu {
  display: block;
}
/* line 64, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .guide-side-trigger .trigger .zmdi-close {
  display: none;
}
/* line 68, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .guide-side-trigger .trigger.open .zmdi-menu {
  display: none;
}
/* line 71, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .guide-side-trigger .trigger.open .zmdi-close {
  display: block;
}
/* line 76, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_header.scss */
#guide header#guide-header .guide-side-trigger .icon {
  font-size: 2em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}
/* line 5, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav {
  font-size: 1rem;
  list-style: none;
  margin: 0 1em 0 0;
  padding: 0;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
}
/* line 25, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/02-base/neat/neat/mixins/_grid-container.scss */
#guide .guide-jump-nav::after {
  clear: both;
  content: "";
  display: block;
}
/* line 13, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav a, #guide .guide-jump-nav a:visited {
  color: #484848;
}
/* line 17, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav .jump-nav-trigger {
  position: relative;
  padding: 0.5em 1em;
  float: left;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
/* line 25, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/02-base/neat/neat/mixins/_grid-container.scss */
#guide .guide-jump-nav .jump-nav-trigger::after {
  clear: both;
  content: "";
  display: block;
}
@media (min-width: 760px) {
  /* line 17, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
  #guide .guide-jump-nav .jump-nav-trigger {
    display: none;
  }
}
/* line 29, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav .jump-nav-trigger .icon {
  margin-left: 10px;
}
/* line 32, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav .jump-nav-trigger .zmdi-download {
  display: inline-block;
}
/* line 35, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav .jump-nav-trigger .zmdi-upload {
  display: none;
}
/* line 39, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav .jump-nav-trigger.open .zmdi-download {
  display: none;
}
/* line 42, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav .jump-nav-trigger.open .zmdi-upload {
  display: inline-block;
}
/* line 47, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav #jump-nav {
  display: none;
  width: 100%;
  float: left;
}
/* line 51, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav #jump-nav.open {
  display: block;
}
@media (min-width: 760px) {
  /* line 47, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
  #guide .guide-jump-nav #jump-nav {
    display: block;
  }
}
/* line 57, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav #jump-nav li {
  display: block;
  text-align: center;
}
@media (min-width: 760px) {
  /* line 57, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
  #guide .guide-jump-nav #jump-nav li {
    display: inline-block;
    text-align: left;
  }
}
/* line 65, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
#guide .guide-jump-nav #jump-nav a, #guide .guide-jump-nav #jump-nav a:visited {
  font-family: "Roboto Mono", monospace;
  display: block;
  border-top: 1px solid #e0e0e0;
  padding: 0.5em 1em;
}
@media (min-width: 760px) {
  /* line 65, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-jump.scss */
  #guide .guide-jump-nav #jump-nav a, #guide .guide-jump-nav #jump-nav a:visited {
    display: inline-block;
    padding: 0.5em 1.5em 0.5em 0;
    border-top: 0;
    letter-spacing: -0.5px;
  }
}
/* line 4, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-side.scss */
#guide #guide-side-nav {
  font-size: 1rem;
}
/* line 6, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-side.scss */
#guide #guide-side-nav a, #guide #guide-side-nav a:visited {
  color: #484848;
}
/* line 9, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-side.scss */
#guide #guide-side-nav ul {
  padding: 0;
  margin: 0;
}
/* line 13, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-side.scss */
#guide #guide-side-nav li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
/* line 17, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-side.scss */
#guide #guide-side-nav li a, #guide #guide-side-nav li a:visited {
  font-family: "Roboto Mono", monospace;
  display: block;
  padding: 12px;
  position: relative;
  border-radius: 5px;
}
/* line 23, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-side.scss */
#guide #guide-side-nav li a:hover, #guide #guide-side-nav li a:focus, #guide #guide-side-nav li a:active, #guide #guide-side-nav li a.current-page, #guide #guide-side-nav li a:visited:hover, #guide #guide-side-nav li a:visited:focus, #guide #guide-side-nav li a:visited:active, #guide #guide-side-nav li a:visited.current-page {
  background: #f2f2f2;
  color: #484848;
}
/* line 29, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_nav-side.scss */
#guide #guide-side-nav li .current {
  background: #ccebf3 !important;
}
/* line 1, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_code.scss */
#guide pre {
  background: #fff;
  font-size: 14px;
  padding: 0 1em;
  border: 1px solid #e0e0e0;
}
/* line 7, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_code.scss */
#guide pre[class*="language-"] {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  margin-bottom: 30px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
/* line 13, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_code.scss */
#guide code {
  background: transparent;
  padding: 1em 0;
}
/* line 18, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_code.scss */
#guide pre code,
#guide pre .line-number {
  display: block;
}
/* line 23, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_code.scss */
#guide pre .line-number {
  float: left;
  margin: 0 1em 0 -1.5em;
  padding: 1em 0;
  border-right: 1px solid #999;
  text-align: right;
  background: #f2f2f2;
  color: #999;
  font-size: 12px;
  line-height: 21px;
}
/* line 35, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_code.scss */
#guide pre .line-number span {
  display: block;
  padding: 0 .5em 0 1em;
}
/* line 40, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_code.scss */
#guide pre .cl {
  display: block;
  clear: both;
}
/* line 14, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/guide.css.scss */
#guide .styleguide {
  /* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
  /**
   * prism.js default theme for JavaScript, CSS and HTML
   * Based on dabblet (http://dabblet.com)
   * @author Lea Verou
   */
  /* Code blocks */
  /* Inline code */
}
/* line 26, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide ul.color-blocks {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
  margin-bottom: 30px;
}
/* line 33, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container {
  border: 1px solid #ddd;
  border-radius: 3px;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  margin-bottom: 0.5em !important;
  float: left;
  padding: 0.5em;
}
@media (min-width: 500px) {
  /* line 33, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
  #guide .styleguide .color-container {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px;
  }
}
@media (min-width: 800px) {
  /* line 33, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
  #guide .styleguide .color-container {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
  }
}
/* line 47, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container:last-child {
  margin-right: 0;
}
/* line 50, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .color-style {
  height: 100px;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
}
/* line 56, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .color-style.guide-orange {
  background: #dc5f13;
}
/* line 56, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .color-style.guide-yellow {
  background: #daa20a;
}
/* line 56, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .color-style.guide-green {
  background: #799900;
}
/* line 56, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .color-style.guide-blue {
  background: #345F90;
}
/* line 56, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .color-style.guide-blue-dark {
  background: #003763;
}
/* line 56, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .color-style.guide-blue-light {
  background: #5387C4;
}
/* line 56, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .color-style.guide-blue-white {
  background: #e8f1f9;
}
/* line 56, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .color-style.guide-brown {
  background: #8E8279;
}
/* line 56, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .color-style.guide-purple {
  background: #6a478d;
}
/* line 61, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .hex, #guide .styleguide .color-container .rgb, #guide .styleguide .color-container .sass {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 0.25rem;
  display: block;
}
/* line 69, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_colors.scss */
#guide .styleguide .color-container .rgb {
  font-size: 12px;
}
/* line 2, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .serif {
  font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif !important;
}
/* line 3, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .special {
  font-family: "Roboto", Arial, Helvetica, san-serif !important;
}
/* line 4, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .condensed {
  font-family: "Roboto", Arial, Helvetica, san-serif !important;
}
/* line 5, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .sans {
  font-family: "Roboto", Arial, Helvetica, san-serif !important;
}
/* line 6, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .monospace {
  font-family: "Courier New", Courier, monospace !important;
}
/* line 9, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .weight-100 {
  font-weight: 100 !important;
}
/* line 10, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .weight-200 {
  font-weight: 200 !important;
}
/* line 11, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .weight-300 {
  font-weight: 300 !important;
}
/* line 12, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .weight-400 {
  font-weight: 400 !important;
}
/* line 13, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .weight-500 {
  font-weight: 500 !important;
}
/* line 14, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .weight-600 {
  font-weight: 600 !important;
}
/* line 15, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .weight-700 {
  font-weight: 700 !important;
}
/* line 16, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .weight-800 {
  font-weight: 800 !important;
}
/* line 17, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .weight-900 {
  font-weight: 900 !important;
}
/* line 18, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .weight-normal {
  font-weight: normal !important;
}
/* line 21, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .italic-demo {
  font-style: italic !important;
}
/* line 22, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .uppercase-demo {
  text-transform: uppercase !important;
}
/* line 25, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/02-base/neat/neat/mixins/_grid-container.scss */
#guide .styleguide .typography-styles .typography-demo-row::after {
  clear: both;
  content: "";
  display: block;
}
/* line 29, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .typography-styles .big-demo {
  line-height: 1;
  margin-bottom: 15px;
  display: block;
  font-size: 100px !important;
}
@media (min-width: 760px) {
  /* line 29, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
  #guide .styleguide .typography-styles .big-demo {
    font-size: 70px !important;
  }
}
@media (min-width: 920px) {
  /* line 29, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
  #guide .styleguide .typography-styles .big-demo {
    font-size: 80px !important;
  }
}
@media (min-width: 1200px) {
  /* line 29, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
  #guide .styleguide .typography-styles .big-demo {
    font-size: 100px !important;
  }
}
/* line 45, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .typography-styles .large-type-demo {
  overflow: hidden;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}
@media (min-width: 760px) {
  /* line 45, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
  #guide .styleguide .typography-styles .large-type-demo {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
  }
}
/* line 53, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .typography-styles .full-type-demo {
  overflow: hidden;
  font-size: 16px !important;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
}
@media (min-width: 760px) {
  /* line 53, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
  #guide .styleguide .typography-styles .full-type-demo {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
  }
}
/* line 61, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .typography-styles .full-type-demo p {
  line-height: 1.125;
  margin-bottom: 0;
  font-size: 1.75rem;
}
@media (min-width: 760px) {
  /* line 61, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
  #guide .styleguide .typography-styles .full-type-demo p {
    font-size: 1.5rem;
  }
}
@media (min-width: 920px) {
  /* line 61, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
  #guide .styleguide .typography-styles .full-type-demo p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  /* line 61, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
  #guide .styleguide .typography-styles .full-type-demo p {
    font-size: 2rem;
  }
}
/* line 77, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .typography-styles .type-demo-info {
  font-weight: normal !important;
  font-family: "Roboto Mono", monospace !important;
  font-size: 12px !important;
  line-height: 1.125;
  color: #999;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}
@media (min-width: 760px) {
  /* line 77, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
  #guide .styleguide .typography-styles .type-demo-info {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
    padding: 4px 0;
  }
}
/* line 88, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .typography-styles .type-demo-info span {
  display: inline-block;
}
@media (min-width: 760px) {
  /* line 88, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
  #guide .styleguide .typography-styles .type-demo-info span {
    display: block;
    margin-bottom: 5px;
  }
}
/* line 94, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .typography-styles .type-demo-info span:after {
  content: "|";
  margin: 0 5px;
}
@media (min-width: 760px) {
  /* line 94, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
  #guide .styleguide .typography-styles .type-demo-info span:after {
    content: "";
  }
}
/* line 101, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .typography-styles .type-demo-info span:last-child:after {
  content: "";
}
/* line 112, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .typography-examples h1, #guide .styleguide .typography-examples h2, #guide .styleguide .typography-examples h3, #guide .styleguide .typography-examples h4, #guide .styleguide .typography-examples h5, #guide .styleguide .typography-examples h6, #guide .styleguide .typography-examples p {
  margin: 0;
  padding: 12px 0;
}
/* line 116, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .typography-examples .type-example-underline {
  display: block;
  border-bottom: 1px solid #ddd;
}
/* line 124, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .guide-example-link {
  display: block;
  cursor: pointer;
  margin-bottom: 6px;
}
/* line 128, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .guide-example-link.standard-example-link {
  color: #345F90;
  text-decoration: underline;
}
/* line 131, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .guide-example-link.standard-example-link.more-link:after {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}
/* line 135, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .guide-example-link.hovered-example-link {
  color: #345F90;
  text-decoration: underline;
}
/* line 138, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .guide-example-link.hovered-example-link.more-link:after {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
/* line 142, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .guide-example-link.visited-example-link {
  color: #345F90;
  text-decoration: underline;
}
/* line 145, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_typography.scss */
#guide .styleguide .guide-example-link.visited-example-link.more-link:after {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}
/* line 2, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_icons.scss */
#guide .styleguide ul.icon-blocks {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
/* line 11, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_icons.scss */
#guide .styleguide .icon-container {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 0.5em !important;
  float: left;
  padding: 0.5em;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}
@media (min-width: 500px) {
  /* line 11, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_icons.scss */
  #guide .styleguide .icon-container {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px;
  }
}
@media (min-width: 800px) {
  /* line 11, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_icons.scss */
  #guide .styleguide .icon-container {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
  }
}
/* line 24, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_icons.scss */
#guide .styleguide .icon-container:last-child {
  margin-right: 0;
}
/* line 27, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_icons.scss */
#guide .styleguide .icon-container .icon-example {
  height: 100px;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 37, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_icons.scss */
#guide .styleguide .icon-container .icon-name, #guide .styleguide .icon-container .icon-class {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 0.25rem;
  display: block;
}
/* line 45, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_icons.scss */
#guide .styleguide .icon-container .icon-name {
  font-weight: normal;
}
/* line 48, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_icons.scss */
#guide .styleguide .icon-container .icon-class {
  font-size: 12px;
}
/* line 2, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .row {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
  margin-bottom: 0.75em;
}
/* line 25, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/02-base/neat/neat/mixins/_grid-container.scss */
#guide .styleguide .row::after {
  clear: both;
  content: "";
  display: block;
}
/* line 8, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .grid {
  background: #ccc;
  text-align: center;
  padding: 1em 0;
}
/* line 13, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .one {
  width: calc(8.33333% - 21.66667px);
  float: left;
  margin-left: 20px;
}
/* line 14, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .two {
  width: calc(16.66667% - 23.33333px);
  float: left;
  margin-left: 20px;
}
/* line 15, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .three {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
}
/* line 16, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .four {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
}
/* line 17, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .five {
  width: calc(41.66667% - 28.33333px);
  float: left;
  margin-left: 20px;
}
/* line 18, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .six {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}
/* line 19, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .seven {
  width: calc(58.33333% - 31.66667px);
  float: left;
  margin-left: 20px;
}
/* line 20, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .eight {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px;
}
/* line 21, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .nine {
  width: calc(75% - 35px);
  float: left;
  margin-left: 20px;
}
/* line 22, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .ten {
  width: calc(83.33333% - 36.66667px);
  float: left;
  margin-left: 20px;
}
/* line 23, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .eleven {
  width: calc(91.66667% - 38.33333px);
  float: left;
  margin-left: 20px;
}
/* line 24, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_grid.scss */
#guide .styleguide .tweleve {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}
/* line 9, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide code[class*="language-"],
#guide .styleguide pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 21px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* line 32, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide pre[class*="language-"]::-moz-selection, #guide .styleguide pre[class*="language-"] ::-moz-selection,
#guide .styleguide code[class*="language-"]::-moz-selection, #guide .styleguide code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
/* line 38, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide pre[class*="language-"]::-moz-selection, #guide .styleguide pre[class*="language-"] ::-moz-selection,
#guide .styleguide code[class*="language-"]::-moz-selection, #guide .styleguide code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
#guide .styleguide pre[class*="language-"]::selection, #guide .styleguide pre[class*="language-"] ::selection,
#guide .styleguide code[class*="language-"]::selection, #guide .styleguide code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  /* line 45, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
  #guide .styleguide code[class*="language-"],
  #guide .styleguide pre[class*="language-"] {
    text-shadow: none;
  }
}
/* line 52, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}
/* line 58, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide :not(pre) > code[class*="language-"],
#guide .styleguide pre[class*="language-"] {
  background: #f5f2f0;
}
/* line 64, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide :not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}
/* line 70, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .token.comment,
#guide .styleguide .token.prolog,
#guide .styleguide .token.doctype,
#guide .styleguide .token.cdata {
  color: slategray;
}
/* line 77, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .token.punctuation {
  color: #999;
}
/* line 81, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .namespace {
  opacity: .7;
}
/* line 85, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .token.property,
#guide .styleguide .token.tag,
#guide .styleguide .token.boolean,
#guide .styleguide .token.number,
#guide .styleguide .token.constant,
#guide .styleguide .token.symbol,
#guide .styleguide .token.deleted {
  color: #905;
}
/* line 95, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .token.selector,
#guide .styleguide .token.attr-name,
#guide .styleguide .token.string,
#guide .styleguide .token.char,
#guide .styleguide .token.builtin,
#guide .styleguide .token.inserted {
  color: #690;
}
/* line 104, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .token.operator,
#guide .styleguide .token.entity,
#guide .styleguide .token.url,
#guide .styleguide .language-css .token.string,
#guide .styleguide .style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
/* line 113, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .token.atrule,
#guide .styleguide .token.attr-value,
#guide .styleguide .token.keyword {
  color: #07a;
}
/* line 119, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .token.function {
  color: #DD4A68;
}
/* line 123, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .token.regex,
#guide .styleguide .token.important,
#guide .styleguide .token.variable {
  color: #e90;
}
/* line 129, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .token.important,
#guide .styleguide .token.bold {
  font-weight: bold;
}
/* line 133, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .token.italic {
  font-style: italic;
}
/* line 137, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_prism.scss */
#guide .styleguide .token.entity {
  cursor: help;
}
/* line 1, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_callouts.scss */
#guide .styleguide .callout-example {
  max-width: 300px;
  margin: 0 auto;
}
/* line 1, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_forms.scss */
#guide .styleguide .guide-button-area {
  list-style: none;
  margin: 0 0 30px;
}
/* line 5, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_forms.scss */
#guide .styleguide .guide-button-area li {
  margin-bottom: 1rem;
}
/* line 8, /Users/dpalladino/Documents/nycc-front-end/source/assets/stylesheets/05-guide/_forms.scss */
#guide .styleguide .guide-button-area .guide-button-background-area {
  background: #ccebf3;
  display: inline-block;
  padding: 1rem;
}
